@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --sepia: #ccaf92;
    --dark-gray: #5c5b5b;
    --carbone: #474747;
    --black: #272525;
    --white: #ede8e8;
    --beige: #FFF2E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-image: url("../img/accueil.png");
    background-attachment: fixed;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.txt_pres{
    color: var(--beige);
    -webkit-text-stroke: 2px var(--carbone);
    font-size: 2em;
    font-family: fantasy;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 70%;
    text-align: center;
    height: 100%;
}

.txt_decouvrir{
    color: var(--beige);
    -webkit-text-stroke: 2px var(--carbone);
    font-size: 2em;
    font-family: fantasy;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-bottom: -3em;
}

.presentation ul{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.presentation ul li{
    list-style: none;
    flex: 0 1 250px;
    display: flex;
}

.presentation ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--beige);
    color: var(--carbone);
    padding: 10px 10px;
    border-radius: 50px;
    text-align: center;
    border: 3px solid var(--carbone);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    min-height: 80px;
}

.presentation ul li a:hover{
    background-color: var(--carbone);
    color: var(--beige);
    transform: translateY(-5px);
}

header {
    display: flex;
    background-color: var(--carbone);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    transform: translateY(0); /* Affiche le header au scroll */
}

header img{
    scale: 0.6;
    left: 5%;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vh;
}

header ul li{
    list-style-type: none;
}

h1{
    color: var(--beige);
    -webkit-text-stroke: 5px var(--carbone);
    font-size: 5em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

img {
    scale: 0.8;
}